.form{
    display:flex;
    width: 50%;
    justify-content: space-around;
    margin : 7% auto;
    
}
*{
    font-family: 'Poppins', sans-serif;
}
.form input{
    margin : 2% 0;
    padding: 15px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 20px;
    font-weight: 300;
    
}
button{
    background: #025dee;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 20px;
    padding:  15px 50px !important;
    margin : 2% 0;
    color:white;
    font-weight: 400;
}
.title{
    text-align: center;
    margin-bottom : 5%;
    color:white;
    font-weight: 600;
}
table{
    width: 70%;
    background: #438789c4;
    table-layout: fixed;
    margin: 0 auto;
    margin-bottom:2%;
    color:rgb(230, 227, 227);
    border-radius: 5px;
    
}
thead td{
    font-weight: 400;
    font-size: 20px;   
    padding: 15px 0 15px 20px ;   
}
thead tr{
    box-shadow: 3px 2px 20px #02020261;
   
}
tbody{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
tbody td{
    padding: 20px 0 20px 20px ;  
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-weight: 200;
}
tbody tr:last-child td{
    border: 0
}


